---
permalink: /cars
title: Cars
---

<div class="row">
    <div class="col-6">
        <h2 style="margin-bottom: -0.7rem;">
            <i class="fa fa-car" aria-hidden="true"></i> <b>{% t rva.cars.title %}</b>
        </h2>
    </div>
    <div class="col-6">
        <a class="pull-right" href="{{ site.baseurl }}/points#car-ratings">
            <i class="fa fa-link" aria-hidden="true"></i> {% t rva.cars.ratings-link %}
        </a>
    </div>
</div>
<hr class="hr-light-title"/>

<div id="cars" class="container">
    <div class="row">
        <div class="col-6">
            <div class="">
                <h2 id="rookie">Rookie</h2>
            </div>
        </div>
        <div class="col-6">
            {% include car_class_selector.html %}
        </div>
    </div>
    <hr class="hr-light-title"/>
    <div class="row">
        <div class="col-12">
            <div>
                {% for i in (1..5) %}
                <img class="img-fluid" src="{{ site.url }}/assets/img/cars/rookie/{{ i }}.png" alt="" />
                {% endfor %}
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-6">
            <div class="">
                <h2 id="amateur">Amateur</h2>
            </div>
        </div>
        <div class="col-6">
            {% include car_class_selector.html %}
        </div>
    </div>
    <hr class="hr-light-title"/>
    <div class="row">
        <div class="col-12">
            <div>
                {% for i in (1..5) %}
                <img class="img-fluid" src="{{ site.url }}/assets/img/cars/amateur/{{ i }}.png" alt="" />
                {% endfor %}
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-6">
            <div class="">
                <h2 id="advanced">advanced</h2>
            </div>
        </div>
        <div class="col-6">
            {% include car_class_selector.html %}
        </div>
    </div>
    <hr class="hr-light-title"/>
    <div class="row">
        <div class="col-12">
            <div>
                {% for i in (1..5) %}
                <img class="img-fluid" src="{{ site.url }}/assets/img/cars/advanced/{{ i }}.png" alt="" />
                {% endfor %}
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-6">
            <div class="">
                <h2 id="semi-pro">Semi-Pro</h2>
            </div>
        </div>
        <div class="col-6">
            {% include car_class_selector.html %}
        </div>
    </div>
    <hr class="hr-light-title"/>
    <div class="row">
        <div class="col-12">
            <div>
                {% for i in (1..5) %}
                <img class="img-fluid" src="{{ site.url }}/assets/img/cars/semi-pro/{{ i }}.png" alt="" />
                {% endfor %}
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-6">
            <div>
                <h2 id="pro">Pro</h2>
            </div>
        </div>
        <div class="col-6">
            {% include car_class_selector.html %}
        </div>
    </div>
    <hr class="hr-light-title"/>
    <div class="row">
        <div class="col-12">
            <div class="text-center">
                <h4>
                    <b>To be rated...</b>
                </h4>
            </div>
        </div>
    </div>
</div>
