---
permalink: /downloads
title: Downloads
---

<div id="downloads">
    <div class="pb-2 mt-4 mb-2 border-bottom">
        <h2><b><i class="fa fa-download" aria-hidden="true"></i> {% t downloads.title %}</b></h2>
    </div>
    <div class="container">
        <div class="row">
            {% assign download_name = "RVGL Launcher" %}
            {% assign download_link = site.data.distribute.rvgl-launcher %}
            {% assign img_file = "rvgl_launcher.png" %}
            {% assign icon = "fa fa-folder-open" %}
            {% assign target = "_blank" %}
            {% include download_card.html %}

            {% assign download_name = "RVA Car Pack" %}
            {% assign download_link = site.data.distribute.rva_cars %}
            {% assign img_file = "rva-logo-dark.png" %}
            {% assign icon = "fa fa-folder-open" %}
            {% assign target = "_self" %}
            {% include download_card.html %}

            {% assign download_name = "RVA Track Pack" %}
            {% assign download_link = site.data.distribute.rva_tracks %}
            {% assign img_file = "rva-logo-dark.png" %}
            {% assign icon = "fa fa-folder-open" %}
            {% assign target = "_self" %}
            {% include download_card.html %}


            {% assign download_name = "Points Parser" %}
            {% assign download_link = site.data.distribute.rva-points %}
            {% assign img_file = "rva-logo-dark.png" %}
            {% assign icon = "fa fa-calculator" %}
            {% assign target = "_self" %}
            {% include download_card.html %}
        </div>
    </div>

    <br/>

    <div class="container">
        <div class="row">
            <div class="col-12">
                <p><b>Note:</b> If you make use of the <a href="{{ site.data.distribute.rvgl-launcher }}" target="_blank"><b>RVGL Launcher</b></a>
                    as we recommend, here is our distribution repository:
                </p>

                <div class="row">
                    <div class="col-12">
                        <input class="btn btn-primary" data-toggle="tooltip" title="Click to copy!" data-placement="top"
                               onClick="this.select(); document.execCommand('copy')" readonly="true"
                               type="text" value="https://distribute.revolt-america.com/packages.json"/>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
