---
permalink: /points
title: Points System
---

<h2 style="margin-bottom: -0.7rem;">
    <i class="fa fa-calculator" aria-hidden="true"></i>
    <b>{% t points.title %}</b>
</h2>
<hr class="hr-light-title"/>

<div class="container">
    <div id="points-by-place" class="pb-2 mt-4 mb-2 border-bottom">
        <h2>{% t points.introduction.title %}</h2>
    </div>
    <div class="row">
        <div class="col-md-12">
            <p>{% t points.introduction.p1 %}</p>
            <div class="text-center">
                <img class="img-fluid" src="{{ site.url }}/assets/img/points/points.png" alt="" />
            </div>
            <br/>
            <p>{% t points.introduction.p2 %}</p>
            <div class="text-center">
                <img class="img-fluid" src="{{ site.url }}/assets/img/points/points-10.png" alt="" />
            </div>
        </div>
    </div>
    <div id="car-ratings" class="pb-2 mt-4 mb-2 border-bottom">
        <h2>{% t points.car-ratings.title %}</h2>
    </div>
    <div class="row">
        <div class="col-md-12">
            <p>{% t points.car-ratings.p1 %}</p>
            <div class="text-center">
                <img class="img-fluid" src="{{ site.url }}/assets/img/points/cars-stats-sample.png" alt="" />
            </div>
            <br/>
            <p>{% t points.car-ratings.p2 %}</p>
            <div class="text-center">
                <img class="img-fluid" src="{{ site.url }}/assets/img/points/cars-multiplier-sample.png" alt="" />
            </div>
            <br/>
        </div>
    </div>
    <div class="pb-2 mt-4 border-bottom">
        <h2>{% t points.variables.title %}</h2>
    </div>
    <div class="row">
        <div class="col-md-12">
            <br/>
            <p>
                PO <b>{% t points.variables.1 %}</b>
            </p>
            <p>
                MUL <b>{% t points.variables.2 %}</b>
            </p>
            <p>
                PP <b>{% t points.variables.3 %}</b>
            </p>
            <p>
                PO <b>{% t points.variables.4 %}</b>
            </p>
            <p>
                CONS <b>{% t points.variables.5 %}</b>
            </p>
        </div>
    </div>
</div>

<div class="pb-2 mt-4 mb-2 border-bottom">
    <h2><b><i class="fa fa-download" aria-hidden="true"></i> {% t points.parser %}</b></h2>
</div>

<div class="downloads">
    <div class="container">
        <div class="row">
            {% assign download_name = "Points Parser" %}
            {% assign download_link = site.data.distribute.rva-points_win64 %}
            {% assign img_file = "rva-logo-dark.png" %}
            {% assign icon = "fa-windows" %}
            {% assign target = "_self" %}
            {% include download_card.html %}

            {% assign download_name = "Points Parser" %}
            {% assign download_link = site.data.distribute.rva-points_linux %}
            {% assign img_file = "rva-logo-dark.png" %}
            {% assign icon = "fa-linux" %}
            {% assign target = "_self" %}
            {% include download_card.html %}
        </div>
    </div>
</div>
