---
permalink: /tracks
title: Tracks
---

<h2 style="margin-bottom: -0.7rem;">
    <i class="fa fa-map" aria-hidden="true"></i> <b>{% t rva.tracks.title %}</b>
</h2>
<hr class="hr-light-title"/>

<div class="container">
    <div>
        <h2>{% t rva.tracks.format.title %}</h2>
        <hr class="hr-light-title"/>
    </div>
    <div id="tracks-example" class="row">
        <div class="col-xl-5 col-lg-5 col-md-12 col-sm-12 col-12">
            <div class="example-track-thumbnail">
                <img class="img-fluid" src="{{ site.url }}/assets/img/tracks/example.png" alt="" />
            </div>
        </div>
        <div class="col-xl-3 col-lg-3 col-md-12 col-sm-12 col-12">
            <h4 class="track-example-header">{% t rva.tracks.format.difficulty.title %}</h4>
            <ul>
                <li><b>E</b> {% t rva.tracks.format.difficulty.easy %}</li>
                <li><b>M</b> {% t rva.tracks.format.difficulty.medium %}</li>
                <li><b>H</b> {% t rva.tracks.format.difficulty.hard %}</li>
                <li><b>X</b> {% t rva.tracks.format.difficulty.extreme %}</li>
            </ul>
        </div>
        <div class="col-xl-4 col-lg-4 col-md-12 col-sm-12 col-12">
            <h4 class="track-example-header">{% t rva.tracks.format.length.title %}</h4>
            <ul>
                <li><b>S</b> {% t rva.tracks.format.length.short %} <em>< 400m</em></li>
                <li><b>M</b> {% t rva.tracks.format.length.medium %} <em>> 400m & < 700m</em></li>
                <li><b>L</b> {% t rva.tracks.format.length.long %} <em>> 700m & < 900m</em></li>
                <li><b>XL</b> {% t rva.tracks.format.length.extralong %} <em>> 900m</em></li>
            </ul>
        </div>
    </div>
    <div class="mt-4">
        <h2>{% t rva.tracks.collection.title %}</h2>
        <hr class="hr-light-title"/>
    </div>

    <nav class="season-details-tabs">
        <div class="nav nav-tabs" id="nav-tab" role="tablist">
            <a class="nav-item nav-link active" id="easy-tab" data-toggle="tab" href="#easy" role="tab"
               aria-controls="singles" aria-selected="true">
                {% t rva.tracks.format.difficulty.easy %}
            </a>
            <a class="nav-item nav-link" id="medium-tab" data-toggle="tab" href="#medium" role="tab"
               aria-controls="medium" aria-selected="false">
                {% t rva.tracks.format.difficulty.medium %}
            </a>
            <a class="nav-item nav-link" id="hard-tab" data-toggle="tab" href="#hard" role="tab"
               aria-controls="hard" aria-selected="false">
                {% t rva.tracks.format.difficulty.hard %}
            </a>
            <a class="nav-item nav-link" id="extreme-tab" data-toggle="tab" href="#extreme" role="tab"
               aria-controls="extreme" aria-selected="false">
                {% t rva.tracks.format.difficulty.extreme %}
            </a>
        </div>
    </nav>
    <div class="tab-content" id="nav-tabContent">
        <div class="tab-pane fade show active" id="easy" role="tabpanel" aria-labelledby="easy-tab">
            <br/>
            <div class="row">
                {% for track in site.data.tracks.easy %}
                    {% assign name = track[1].name %}
                    {% assign slug = track[0] %}
                    {% assign length = track[1].length %}

                    {% include track_card.html %}
                {% endfor %}
            </div>
        </div>
        <div class="tab-pane fade" id="medium" role="tabpanel" aria-labelledby="medium-tab">
            <br/>
            <div class="row">
                {% for track in site.data.tracks.medium %}
                    {% assign name = track[1].name %}
                    {% assign slug = track[0] %}
                    {% assign length = track[1].length %}

                    {% include track_card.html %}
                {% endfor %}
            </div>
        </div>
        <div class="tab-pane fade" id="hard" role="tabpanel" aria-labelledby="hard-tab">
            <br/>
            <div class="row">
                {% for track in site.data.tracks.hard %}
                    {% assign name = track[1].name %}
                    {% assign slug = track[0] %}
                    {% assign length = track[1].length %}

                    {% include track_card.html %}
                {% endfor %}
            </div>
        </div>
        <div class="tab-pane fade" id="extreme" role="tabpanel" aria-labelledby="extreme-tab">
            <br/>
            <div class="row">
                {% for track in site.data.tracks.extreme %}
                    {% assign name = track[1].name %}
                    {% assign slug = track[0] %}
                    {% assign length = track[1].length %}

                    {% include track_card.html %}
                {% endfor %}
            </div>
        </div>
    </div>
</div>
