<div id="lobby-alert" class="alert alert-success d-none" role="alert">
    {% t alerts.1 %}

    <input data-toggle="tooltip" title="Click to copy!" data-placement="top"
                                              onClick="this.select(); document.execCommand('copy')" readonly="true"
                                              type="text" value="gforce-rva.ddns.net"/>

    <a href="https://discord.gg/T3KCh7g" target="_blank">
        <span class="pull-right"><i class="fab fa-discord"></i> Discord</span>
    </a>
</div>

<div id="pack-update-alert" class="alert alert-success" role="alert">
    {% t alerts.2 %}

    <a href="{{ site.baseurl }}/downloads">
        <span class="pull-right"><i class="fa fa-download"></i> {% t misc.download %}</span>
    </a>
</div>

<!--
TODO: Commented until we add new schedule times
<script src="{{ site.url }}/assets/js/alerts.js"></script>
-->
