<div id="lobby-alert" class="alert alert-success d-none" role="alert">
    We're playing right now! Lobby IP:

    <input data-toggle="tooltip" title="Click to copy!" data-placement="top"
                                              onClick="this.select(); document.execCommand('copy')" readonly="true"
                                              type="text" value="gforce.revolt-america.com"/>

    <a href="https://discord.gg/T3KCh7g" target="_blank">
        <span class="pull-right"><i class="fab fa-discord"></i> Discord</span>
    </a>
</div>

<script src="{{ site.baseurl }}/assets/js/alerts.js"></script>
