<div id="cars-class-menu" class="btn-group pull-right">
    <button type="button" class="btn dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        {% t rva.cars.class-selector.title %}
    </button>
    <div class="dropdown-menu dropdown-menu-right">
        <a class="dropdown-item" href="{{ baseurl }}/cars/rookie">{% t classes.rookie %}</a>
        <a class="dropdown-item" href="{{ baseurl }}/cars/amateur">{% t classes.amateur %}</a>
        <a class="dropdown-item" href="{{ baseurl }}/cars/advanced">{% t classes.advanced %}</a>
        <a class="dropdown-item" href="{{ baseurl }}/cars/semi-pro">{% t classes.semi-pro %}</a>
        <a class="dropdown-item" href="{{ baseurl }}/cars/pro">{% t classes.pro %}</a>
        <a class="dropdown-item" href="{{ baseurl }}/cars/super-pro">{% t classes.super-pro %}</a>
        <a class="dropdown-item d-none" href="{{ baseurl }}/cars/clockwork">{% t classes.clockwork %}</a>
    </div>
</div>
