<div class="car-card col-xl-3 col-lg-4 cl-md-4 col-sm-6 col-12">
    <div class="card">
        <div class="card-header">
            <div class="text-center">
                <h2 class="car-title">{{ name }}</h2>
            </div>
        </div>
        <div class="card-body">
            <img class="card-img-top" src="{{ site.url }}/assets/img/boxes/{{ class }}/{{ slug }}.bmp" alt="">
        </div>
        <div class="card-footer">
            <div class="row">
                <div class="col-6">
                    <p>{% t car-card.speed %}</p>
                </div>
                <div class="col-6">
                    <p>{{ speed }} {% t car-card.kmh %}</p>
                </div>
            </div>
        </div>
        <div class="card-footer">
            <div class="row">
                <div class="col-6">
                    <p>{% t car-card.acc %}</p>
                </div>
                <div class="col-6">
                    <p>{{ acc }} {% t car-card.ms2 %}</p>
                </div>
            </div>
        </div>
        <div class="card-footer">
            <div class="row">
                <div class="col-6">
                    <p>{% t car-card.weight %}</p>
                </div>
                <div class="col-6">
                    <p>{{ weight }} {% t car-card.kg %}</p>
                </div>
            </div>
        </div>
        <div class="card-footer">
            <div class="row">
                <div class="col-6">
                    <p>{% t car-card.multiplier %}</p>
                </div>
                <div class="col-6">
                    <p>{{ multiplier }}</p>
                </div>
            </div>
        </div>
    </div>
</div>
