<div class="row">
    {% unless hide_rookie %}
        <div class="col-xl-4 col-lg-6 col-md-12 col-sm-12 col-12">
            <div class="car-class-thumbnail text-center">
                <a href="{{ site.baseurl }}{{ page.rookie_path }}">
                    <div class="car-class-thumbnail-overlay">
                        <img src="{{ site.url }}/assets/img/classes/rookie.jpg" alt=""
                             class="img-responsive car-class-img"/>
                    </div>
                    <div class="car-class-caption">
                        <p>{% t classes.rookie %}</p>
                    </div>
                </a>
            </div>
        </div>
    {% endunless %}
    {% unless hide_amateur %}
        <div class="col-xl-4 col-lg-6 col-md-12 col-sm-12 col-12">
            <div class="car-class-thumbnail text-center">
                <a href="{{ site.baseurl }}{{ page.amateur_path }}">
                    <div class="car-class-thumbnail-overlay">
                        <img src="{{ site.url }}/assets/img/classes/amateur.jpg" alt=""
                             class="img-responsive car-class-img"/>
                    </div>
                    <div class="car-class-caption">
                        <p>{% t classes.amateur %}</p>
                    </div>
                </a>
            </div>
        </div>
    {% endunless %}
    {% unless hide_advanced %}
        <div class="col-xl-4 col-lg-6 col-md-12 col-sm-12 col-12">
            <div class="car-class-thumbnail text-center">
                <a href="{{ site.baseurl }}{{ page.advanced_path }}">
                    <div class="car-class-thumbnail-overlay">
                        <img src="{{ site.url }}/assets/img/classes/advanced.jpg" alt=""
                             class="img-responsive car-class-img"/>
                    </div>
                    <div class="car-class-caption">
                        <p>{% t classes.advanced %}</p>
                    </div>
                </a>
            </div>
        </div>
    {% endunless %}
    {% unless hide_semi-pro %}
        <div class="col-xl-4 col-lg-6 col-md-12 col-sm-12 col-12">
            <div class="car-class-thumbnail text-center">
                <a href="{{ site.baseurl }}{{ page.semi-pro_path }}">
                    <div class="car-class-thumbnail-overlay">
                        <img src="{{ site.url }}/assets/img/classes/semi-pro.jpg" alt=""
                             class="img-responsive car-class-img"/>
                    </div>
                    <div class="car-class-caption">
                        <p>{% t classes.semi-pro %}</p>
                    </div>
                </a>
            </div>
        </div>
    {% endunless %}
    {% unless hide_pro %}
        <div class="col-xl-4 col-lg-6 col-md-12 col-sm-12 col-12">
            <div class="car-class-thumbnail text-center">
                <a href="{{ site.baseurl }}{{ page.pro_path }}">
                    <div class="car-class-thumbnail-overlay">
                        <img src="{{ site.url }}/assets/img/classes/pro.jpg" alt=""
                             class="img-responsive car-class-img"/>
                    </div>
                    <div class="car-class-caption">
                        <p>{% t classes.pro %}</p>
                    </div>
                </a>
            </div>
        </div>
    {% endunless %}
    {% unless hide_super-pro %}
        <div class="col-xl-4 col-lg-6 col-md-12 col-sm-12 col-12">
            <div class="car-class-thumbnail text-center">
                <a href="{{ site.baseurl }}{{ page.super-pro_path }}">
                    <div class="car-class-thumbnail-overlay">
                        <img src="{{ site.url }}/assets/img/classes/super-pro.jpg" alt=""
                             class="img-responsive car-class-img"/>
                    </div>
                    <div class="car-class-caption">
                        <p>{% t classes.super-pro %}</p>
                    </div>
                </a>
            </div>
        </div>
    {% endunless %}
    {% unless hide_random %}
        <div class="col-xl-4 col-lg-6 col-md-12 col-sm-12 col-12">
            <div class="car-class-thumbnail text-center">
                <a href="{{ site.baseurl }}{{ page.random_path }}">
                    <div class="car-class-thumbnail-overlay">
                        <img src="{{ site.url }}/assets/img/classes/random.jpg" alt=""
                             class="img-responsive car-class-img"/>
                    </div>
                    <div class="car-class-caption">
                        <p>{% t classes.random %}</p>
                    </div>
                </a>
            </div>
        </div>
    {% endunless %}
    {% unless hide_clockwork %}
        <div class="col-xl-4 col-lg-6 col-md-12 col-sm-12 col-12">
            <div class="car-class-thumbnail text-center">
                <a href="{{ site.baseurl }}{{ page.clockwork_path }}">
                    <div class="car-class-thumbnail-overlay">
                        <img src="{{ site.url }}/assets/img/classes/clockwork.jpg" alt=""
                             class="img-responsive car-class-img"/>
                    </div>
                    <div class="car-class-caption">
                        <p>{% t classes.clockwork %}</p>
                    </div>
                </a>
            </div>
        </div>
    {% endunless %}
</div>
