<footer class="footer">
    <div class="container">
        <hr/>
        <section>
            <div class="row">
                <div class="col-xl-3 col-lg-3 col-md-3 col-sm-6 col-xs-6 col-6">
                    <ul class="list-unstyled">
                        <li class="heading">
                            {% t footer.policies.title %}
                        </li>
                        <li>
                            <a href="{{ site.baseurl }}/rules">{% t footer.policies.rules %}</a>
                        </li>
                        <li>
                            <a href="{{ site.baseurl }}/terms">{% t footer.policies.terms %}</a>
                        </li>
                        <li>
                            <a href="{{ site.baseurl }}/privacy">{% t footer.policies.privacy %}</a>
                        </li>
                    </ul>
                </div>
                <div class="col-xl-3 col-lg-3 col-md-3 col-sm-6 col-xs-6 col-6">
                    <ul class="list-unstyled">
                        <li class="heading">
                            {% t footer.organization.title %}
                        </li>
                        <li>
                            <a href="https://github.com/Re-Volt-America/Website/commits/master" target="_blank">{% t footer.organization.logs %}</a>
                        </li>
                        <li>
                            <a href="https://github.com/Re-Volt-America/Website/issues" target="_blank">{% t footer.organization.bugs %}</a>
                        </li>
                        <li>
                            <a href="https://github.com/Re-Volt-America/Website#sponsors" target="_blank"><i class="fa fa-heart" aria-hidden="true"></i> {% t footer.organization.sponsor %}</a>
                        </li>
                    </ul>
                </div>
                <div class="col-xl-3 col-lg-3 col-md-3 col-sm-6 col-xs-6 col-6">
                    <ul class="list-unstyled follow-us">
                        <li class="heading">
                            {% t footer.trademark.title %}
                        </li>
                        <li>
                            <a href="{{ site.url }}/assets">{% t footer.trademark.assets %}</a>
                        </li>
                        <li>
                            <a href="{{ site.baseurl }}/emoji">{% t footer.trademark.emoji %}</a>
                        </li>
                    </ul>
                </div>
                <div class="col-xl-3 col-lg-3 col-md-3 col-sm-6 col-xs-6 col-6">
                    <ul class="list-unstyled follow-us">
                        <li class="heading">
                            {% t footer.social.title %}
                        </li>
                        <li>
                            <a href="{{ site.data.links.discord }}" target="_blank">
                                <img src="{{ site.url }}/assets/img/discord-logo-color.svg" alt="" /> {% t footer.social.discord %}
                            </a>
                        </li>
                        <li>
                            <a href="{{ site.data.links.github }}" target="_blank">
                                <img src="{{ site.url }}/assets/img/github-logo.png" alt="" /> {% t footer.social.github %}
                            </a>
                        </li>
                        <li>
                            <a href="{{ site.data.links.crowdin }}" target="_blank">
                                <img src="{{ site.url }}/assets/img/crowdin-dark-symbol.svg" alt="" /> Crowdin
                            </a>
                        </li>
                    </ul>
                </div>
                <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-xs-12 col-12">
                    <div class="copy">
                        <p>&copy; 2021 {{ site.org }}</p>
                    </div>
                </div>
            </div>
        </section>
    </div>
</footer>
