<footer class="footer">
    <div class="container">
        <hr/>
        <section>
            <div class="row">
                <div class="col-xl-3 col-lg-3 col-md-3 col-sm-6 col-xs-6 col-6">
                    <ul class="list-unstyled">
                        <li class="heading">
                            Policies
                        </li>
                        <li>
                            <a href="{{ site.url }}/rules">Rules</a>
                        </li>
                        <li>
                            <a href="{{ site.url }}/terms">Terms of Service</a>
                        </li>
                        <li>
                            <a href="{{ site.url }}/privacy">Privacy Policy</a>
                        </li>
                    </ul>
                </div>
                <div class="col-xl-3 col-lg-3 col-md-3 col-sm-6 col-xs-6 col-6">
                    <ul class="list-unstyled">
                        <li class="heading">
                            Organisation
                        </li>
                        <li>
                            <a href="https://github.com/Re-Volt-America/Website/commits/master" target="_blank">Development Logs</a>
                        </li>
                        <li>
                            <a href="https://github.com/Re-Volt-America/Website/issues" target="_blank">Report a Bug</a>
                        </li>
                        <li>
                            <a href="https://github.com/Re-Volt-America/Website#sponsors" target="_blank"><i class="fa fa-heart" aria-hidden="true"></i> Sponsor</a>
                        </li>
                    </ul>
                </div>
                <div class="col-xl-3 col-lg-3 col-md-3 col-sm-6 col-xs-6 col-6">
                    <ul class="list-unstyled follow-us">
                        <li class="heading">
                            Trademark
                        </li>
                        <li>
                            <a href="{{ site.url }}/assets">Assets</a>
                        </li>
                        <li>
                            <a href="{{ site.url }}/emoji">Emoji</a>
                        </li>
                    </ul>
                </div>
                <div class="col-xl-3 col-lg-3 col-md-3 col-sm-6 col-xs-6 col-6">
                    <ul class="list-unstyled follow-us">
                        <li class="heading">
                            Find Us
                        </li>
                        <li>
                            <a href="{{ site.data.links.discord }}" target="_blank">
                                <img src="{{ site.url }}/assets/img/discord-logo-color.svg" alt="" /> Discord
                            </a>
                        </li>
                        <li>
                            <a href="{{ site.data.links.github }}" target="_blank">
                                <img src="{{ site.url }}/assets/img/github-logo.png" alt="" /> GitHub
                            </a>
                        </li>
                    </ul>
                </div>
                <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-xs-12 col-12">
                    <div class="copy">
                        <p>&copy; 2021 {{ site.org }}</p>
                    </div>
                </div>
            </div>
        </section>
    </div>
</footer>
