<footer class="footer">
    <div class="container">
        <hr/>

        <div class="row" align="center">
            <div class="col-12 col-md-8">
                <ul class="nav">
                    <div class="nav-item">
                        <a class="nav-link" href="{{ site.data.links.github }}" target="_blank">
                            <i class="fab fa-github"></i> GitHub
                        </a>
                    </div>
                    <div class="nav-item">
                        <a class="nav-link" href="{{ site.data.links.discord }}" target="_blank">
                            <i class="fab fa-discord"></i> Discord
                        </a>
                    </div>
                    <div class="nav-item">
                        <a class="nav-link" href="{{ site.url }}/emoji/">
                            <i class="fa fa-archive" aria-hidden="true"></i> Emoji
                        </a>
                    </div>
                </ul>
            </div>
        </div>

        <br/>

        <div class="copy">
            <p>&copy; 2021 {{ site.org }}</p>
        </div>
    </div>
</footer>
