<nav class="navbar navbar-expand-md navbar-dark navbar-default bg-obscure">
    <div class="container">
        <a class="navbar-brand" href="{{ site.url }}">
            <img style="width: 45px; height: 45px; border-radius: 50px;"
                 src="{{ site.url }}/assets/img/rva-logo-dark.png" alt="">
        </a>

        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#main-navbar"
                aria-controls="main-navbar" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="main-navbar">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item">
                    <a class="nav-link" href="{{ site.url }}/rules">
                        <i class="fa fa-bookmark" aria-hidden="true"></i> Rules
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{{ site.url }}/downloads">
                        <i class="fa fa-download" aria-hidden="true"></i> Downloads
                    </a>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="" data-toggle="dropdown" aria-haspopup="true"
                       aria-expanded="false">
                        <i class="fa fa-tags" aria-hidden="true"></i> RVA
                    </a>
                    <div class="dropdown-menu" aria-labelledby="dropdown01">
                        <a class="dropdown-item" href="{{ site.url }}/tracks">
                            <i class="fa fa-map" aria-hidden="true"></i> Tracks
                        </a>
                        <a class="dropdown-item" href="{{ site.url }}/cars">
                            <i class="fa fa-car" aria-hidden="true"></i> Cars
                        </a>
                    </div>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="" data-toggle="dropdown" aria-haspopup="true"
                       aria-expanded="false">
                        <i class="fa fa-bar-chart" aria-hidden="true"></i> Ranking
                    </a>
                    <div class="dropdown-menu" aria-labelledby="dropdown02">
                        <a class="dropdown-item" href="{{ site.url }}/points">
                            <i class="fa fa-calculator" aria-hidden="true"></i> Points System
                        </a>
                        <a class="dropdown-item" href="{{ site.url }}/schedule">
                            <i class="fa fa-clock-o" aria-hidden="true"></i> Schedule
                        </a>
                        <a class="dropdown-item" href="{{ site.url }}/seasons/2020-2021">
                            <i class="fa fa-trophy" aria-hidden="true"></i> 2020-2021
                        </a>
                    </div>
                </li>
            </ul>
            <ul class="nav navbar-nav navbar-right">
            </ul>
        </div>
    </div>
</nav>

<!-- Fixes a set amount of 34px from the navbar down, otherwise, content would be squashed by it -->
<div class="flash" style="margin-top: 34px;">
</div>
