<nav class="navbar navbar-expand-md navbar-dark navbar-default bg-obscure">
    <div class="container">
        <a class="navbar-brand" href="/{{ site.languagePaths[site.lang] }}">
            <img style="width: 45px; height: 45px; border-radius: 50px;"
                 src="{{ site.url }}/assets/img/rva-logo-dark.png" alt="">
        </a>

        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#main-navbar"
                aria-controls="main-navbar" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="main-navbar">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item">
                    <a class="nav-link" href="{{ site.baseurl }}/play">
                        <i class="fa fa-play" aria-hidden="true"></i> {% t nav.play %}
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{{ site.baseurl }}/rules">
                        <i class="fa fa-bookmark" aria-hidden="true"></i> {% t nav.rules %}
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{{ site.baseurl }}/downloads">
                        <i class="fa fa-download" aria-hidden="true"></i> {% t nav.downloads %}
                    </a>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="" data-toggle="dropdown" aria-haspopup="true"
                       aria-expanded="false">
                        <i class="fa fa-tags" aria-hidden="true"></i> {% t nav.rva.title %}
                    </a>
                    <div class="dropdown-menu" aria-labelledby="dropdown01">
                        <a class="dropdown-item" href="{{ site.baseurl }}/tracks">
                            <i class="fa fa-map" aria-hidden="true"></i> {% t nav.rva.tracks %}
                        </a>
                        <a class="dropdown-item" href="{{ site.baseurl }}/cars">
                            <i class="fa fa-car" aria-hidden="true"></i> {% t nav.rva.cars %}
                        </a>
                    </div>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="" data-toggle="dropdown" aria-haspopup="true"
                       aria-expanded="false">
                        <i class="fa fa-user" aria-hidden="true"></i> {% t nav.players.title %}
                    </a>
                    <div class="dropdown-menu" aria-labelledby="dropdown02">
                        <a class="dropdown-item" href="{{ site.baseurl }}/staff">
                            <i class="fa fa-user-md" aria-hidden="true"></i> {% t nav.players.staff %}
                        </a>
                    </div>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="" data-toggle="dropdown" aria-haspopup="true"
                       aria-expanded="false">
                        <i class="fa fa-bar-chart" aria-hidden="true"></i> {% t nav.ranking.title %}
                    </a>
                    <div class="dropdown-menu" aria-labelledby="dropdown02">
                        <a class="dropdown-item" href="{{ site.baseurl }}/points">
                            <i class="fa fa-calculator" aria-hidden="true"></i> {% t nav.ranking.points %}
                        </a>
                        <a class="dropdown-item" href="{{ site.baseurl }}/seasons/2020-2021">
                            <i class="fa fa-trophy" aria-hidden="true"></i> {% t nav.ranking.season20202021 %}
                        </a>
                    </div>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{{ site.data.org.discussions }}" target="_blank">
                        <i class="fa fa-comments" aria-hidden="true"></i> {% t nav.discussions %}
                    </a>
                </li>
            </ul>
            <ul class="nav navbar-nav navbar-right">
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="" data-toggle="dropdown" aria-haspopup="true"
                       aria-expanded="false">
                        <img class="locale-flag" src="{{ site.url }}/assets/img/i18n/{{ site.lang }}.png" alt="" />
                    </a>
                    <div class="dropdown-menu dropdown-menu-right" aria-labelledby="dropdown02">
                        {% for language in site.languages %}
                            {% if site.languagePaths[language] == "" %}
                                <a class="dropdown-item" href="{{ site.url }}{{ site.languagePaths[language] }}{{ page.url }}">
                                    <img class="locale-flag" src="{{ site.url }}/assets/img/i18n/{{ language }}.png" alt="" />
                                    {{ site.languageNames[language] }}
                                </a>
                            {% else %}
                                <a class="dropdown-item" href="{{ site.url }}/{{ site.languagePaths[language] }}{{ page.url }}">
                                    <img class="locale-flag" src="{{ site.url }}/assets/img/i18n/{{ language }}.png" alt="" />
                                    {{ site.languageNames[language] }}
                                </a>
                            {% endif %}
                        {% endfor %}
                    </div>
                </li>
            </ul>
        </div>
    </div>
</nav>

<!-- Fixes a set amount of 34px from the navbar down, otherwise, content would be squashed by it -->
<div class="flash" style="margin-top: 34px;">
</div>
