---
title: Rookie
car-class: rookie
permalink: /seasons/2020-2021/rookie
---

<div class="row text-center">
    <div class="col-md-12">
        <h2 class="season-details-title">{% t classes.rookie %}</h2>
    </div>
</div>

<nav class="season-details-tabs">
    <div class="nav nav-tabs" id="nav-tab" role="tablist">
        <a class="nav-item nav-link active" id="singles-tab" data-toggle="tab" href="#singles" role="tab"
           aria-controls="singles" aria-selected="true">
            Singles
        </a>
        <a class="nav-item nav-link" id="singles-tm-tab" data-toggle="tab" href="#singles-tm" role="tab"
           aria-controls="singles-tm" aria-selected="false">
            Singles Cup
        </a>
        <a class="nav-item nav-link" id="teams-tab" data-toggle="tab" href="#teams" role="tab"
           aria-controls="teams" aria-selected="false">
            Teams
        </a>
        <a class="nav-item nav-link" id="teams-tm-tab" data-toggle="tab" href="#teams-tm" role="tab"
           aria-controls="teams-tm" aria-selected="false">
            Teams Cup
        </a>
        <a class="nav-item nav-link" id="recopa-tab" data-toggle="tab" href="#recopa" role="tab"
           aria-controls="recopa" aria-selected="false">
            Re-Copa
        </a>
    </div>
</nav>
<div class="tab-content" id="nav-tabContent">
    <div class="tab-pane fade show active" id="singles" role="tabpanel" aria-labelledby="singles-tab">
        <br/>
        {% capture singles %}{% include 2020-2021/{{ page.car-class }}/singles.md %}{% endcapture %}
        {{ singles | markdownify }}
    </div>
    <div class="tab-pane fade" id="singles-tm" role="tabpanel" aria-labelledby="singles-tm-tab">
        <br/>
        {% capture singles-tm %}{% include 2020-2021/{{ page.car-class }}/singles-tm.md %}{% endcapture %}
        {{ singles-tm | markdownify }}
    </div>
    <div class="tab-pane fade" id="teams" role="tabpanel" aria-labelledby="teams-tab">
        <br/>
        {% capture teams %}{% include 2020-2021/{{ page.car-class }}/teams.md %}{% endcapture %}
        {{ teams | markdownify }}
    </div>
    <div class="tab-pane fade" id="teams-tm" role="tabpanel" aria-labelledby="teams-tm-tab">
        <br/>
        {% capture teams-tm %}{% include 2020-2021/{{ page.car-class }}/teams-tm.md %}{% endcapture %}
        {{ teams-tm | markdownify }}
    </div>
    <div class="tab-pane fade" id="recopa" role="tabpanel" aria-labelledby="recopa-tab">
        <br/>
        {% capture recopa %}{% include 2020-2021/{{ page.car-class }}/recopa.md %}{% endcapture %}
        {{ recopa | markdownify }}
    </div>
</div>
