#lobby-alert {
  margin-bottom: 40px;

  input {
    color: #f30039;
    border: 0;
    background-color: transparent;
    outline: none;
    cursor: pointer;
    display: inline-block;
    margin-right: 60px;
    width: 230px;
    font-family: SFMono-Regular, Menlo, Monaco, Consolas,"Liberation Mono", "Courier New", monospace;
    font-size: 1em;
  }

  a {
    color: #155724;
  }
}

#pack-update-alert {
  a {
    color: #155724;
  }
}
