#assets {
  .assets-logo {
    height: 350px;
  }

  button {
    color: #beb8bc;
    box-shadow: none;
  }

  button:hover {
    color: #000000;
    background-color: #ffffff;
  }

  button:focus {
    color: #000000;
    background-color: #ffffff;
  }

  .btn-outline-secondary {
    border-color: #ffffff;
  }
}

#guidelines {
  margin-top: 50px;
}
