#car-cards-display {
  .form-control {
    display: block;
    width: 100%;
    height: calc(1.5em + .75rem + 2px);
    padding: .375rem .75rem;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #ced4da;
    background-color: #000000;
    background-clip: padding-box;
    border: 1px solid #ced4da;
    border-radius: .25rem;
    transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
  }

  .form-control:focus {
    border-color: #ffffff;
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgb(177, 177, 177);
  }

  .form-control::placeholder {
    color: #beb8bc;
    opacity: 1;
  }

  .search-bar {
    background: black;
    padding-top: 10px;
    padding-bottom: 10px;
  }
}
