#clock #time {
  margin-top: 10px;
  font-family: NissanOpti, serif;
  position: relative;
  display: flex;
  justify-content: center;
  color: #ffffff;
}

@media screen and (min-width: 720px) {
  #clock #time {
    font-size: 60px;
  }
}

@media screen and (max-width: 720px) {
  #clock #time {
    font-size: 30px;
  }
}
