.download-card {
  h2 {
    font-weight: bold;
    margin-top: 5px;
    margin-bottom: -10px;
  }

  p {
    margin-top: 10px;
    margin-bottom: 10px;
    font-weight: bold;
  }

  img {
    border-radius: 2px;
  }

  .card {
    margin-top: 30px;
  }

  .car-title {
    font-size: 22px;
  }

  .card-body {
    -ms-flex: 1 1 auto;
    flex: 1 1 auto;
    min-height: 1px;
    padding: 1rem;
  }

  .card-header {
    padding: .75rem 1.25rem;
    margin-bottom: 0;
    background-color: rgba(0,0,0,.03);
    border-bottom: #beb8bc;
  }

  .card {
    position: relative;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: column;
    flex-direction: column;
    min-width: 0;
    word-wrap: break-word;
    background-color: #000000;
    /* background-clip: border-box; */
    /* border: 1px solid rgba(0,0,0,.125); */
    border-radius: .25rem;
    border-color: #beb8bc;
  }

  .card-footer {
    padding: .3rem 1.25rem;
    background-color: rgba(0,0,0,.03);
    border-color: #beb8bc;
  }

  .card-img-top {
    -ms-flex-negative: 0;
    flex-shrink: 0;
    width: 100%;
  }

  button, input, optgroup, select, textarea {
    margin: 10px;
    font-family: inherit;
    font-size: inherit;
    line-height: inherit;
  }
}
