.car-class-img {
  height: 100%;
  width: 100%;
  border-radius: 5px;
}

.car-class-img-small {
  height: 100%;
  width: 30%;
  border-radius: 3px;
}

.car-class-thumbnail {
  position: relative;
  margin-top: 30px;
}

.car-class-thumbnail-small {
  position: relative;
}

.car-class-thumbnail-overlay {
  position: relative;
}

.car-class-thumbnail-overlay:after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: linear-gradient(to bottom right, black, black);
  opacity: 40%;
}

.car-class-caption {
  font-family: NissanOpti, serif;
  font-size: 275%;
  text-shadow: 0 1px 10px rgb(0, 0, 0), 0 0 30px rgb(0, 0, 0);
  position: absolute;
  top: 27%;
  width: 100%;
  left: 0;
}

.season-details-title {
  font-family: NissanOpti, serif;
  font-size: 275%;
  text-shadow: 0 1px 10px rgb(0, 0, 0), 0 0 30px rgb(0, 0, 0);
}

.season-details-tabs {
  margin-top: 50px;
}
