---
permalink: /cars/advanced
title: Advanced Cars
description: Cars of the Advanced class
image: https://rva.lat/assets/img/carboxes/advanced/r6_turbo.bmp
---

<div id="car-cards-display">
    <div class="container">
        <div class="pb-2 mt-4 mb-2 text-center">
            <h2><i class="fa fa-car" aria-hidden="true"></i> <b>{% t classes.advanced %}</b></h2>
        </div>

        <div class="row">
            <div class="col-xl-11 col-lg-10 col-md-10 col-xs-9 col-8">
                <input class="form-control" id="input" type="text" placeholder="Search...">
            </div>
            <div class="col-xl-1 col-lg-2 col-md-2 col-xs-3 col-4">
                {% include car_class_selector.html %}
            </div>
        </div>

        <div class="row">
            {% assign class = "advanced" %}

            {% for car in site.data.cars.advanced.advanced %}
                {% assign name = car[1].name %}
                {% assign slug = car[0] %}
                {% assign speed = car[1].speed %}
                {% assign acc = car[1].acc %}
                {% assign weight = car[1].weight %}
                {% assign multiplier = car[1].multiplier %}

                {% include car_card.html %}
            {% endfor %}
        </div>
    </div>
</div>

<script type="text/javascript" src="{{ site.url }}/assets/js/car_search.js"></script>
